doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/styles/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item
              a.nav__link.nav__link--logo(href="/") Home
            if user
              li.nav__item
                a.nav__link(href="/create" class=currentPath.startsWith("/create") ? "nav__link--active" : "") Create Poll
            li.nav__item
              a.nav__link(href="/polls" class=currentPath.startsWith("/polls") ? "nav__link--active" : "") Polls
            if !user
              li.nav__item
                a.nav__link(href="/register" class=currentPath.startsWith("/register") ? "nav__link--active" : "") Register
              li.nav__item
                a.nav__link(href="/login" class=currentPath.startsWith("/login") ? "nav__link--active" : "") Login
          .nav__section.nav__section--search
            .search
              input.search__input(type="text" placeholder="Search a poll..." name="search")
              .search__results
          .nav__section.nav__section--user
            if user
              form(method="POST" action="/logout")
                li.nav_item(style="height:100%;"): input.nav__link(type="submit" value="Logout" style="height:100%;border:0;border-bottom:5px solid transparent;border-right:1px solid rgba(255, 255, 255, 0.1);cursor:pointer;")
              li.nav__item: a.nav__link(href="/votes" class=currentPath.startsWith("/votes") ? "nav__link--active" : "") Votes
                .search__results
    block messages
      if locals.flashes
        .inner
          .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!=message
                button.flash__remove(onClick="this.parentElement.remove()")
    .content
      block content
