extends layout

block content
  h2.title(style="text-align:center;padding: 2% 0%;")
    a(href=`/poll/${poll._id}`) #{poll.title}
  ul.options
    each option in poll.options
      form(action=`/vote/${poll._id}` method="POST")
        li.option
          input(type="hidden" name="option" value=option)
          input.option__link(type="submit" value=option style="cursor:pointer;")
  p(style="text-align:center;") #{poll.votes.length} Votes
  form.form(method="POST" action=`/poll/${poll._id}/update`)
    label(for="add_option") Add Option
    input(type="text" name="add_option" placeholder="Don't like the above options? Add a new one" required)
    input.button(type="submit" value="Submit")
